<app-navbar></app-navbar>
<ngx-bootstrap-spinner></ngx-bootstrap-spinner>

<button class="btn btn-primary" class = "addStudentBtn" (click) = "onAddButtonClick(studentFormModal)">ADD STUDENT</button>
<br><br>
<div style="text-align: left;background-color: purple;color: white;">
    Sum of rollNo and age : {{sumOfAgeAndRollNo}}
</div>
<div style="text-align: left;background-color: purple;color: white;">
    Difference of rollNo and age : {{diffOfAgeAndRollNo}}
</div>
<div style="text-align: left;background-color: purple;color: white;">
    Difference of age and record count : {{diffOfAgeAndRecordCount}}
</div>
<div>
    <h1>Student List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>ROLLNO</th>
                <th>NAME</th>
                <th>DOB</th>
                <th>DOB/Time</th>
                <th>AGE</th>
                <th>EMAIL</th>
                <th>GENDER</th>
                <th>PHONE NUMBER</th>
                <th>UPDATE</th>
                <th>BOOK ISSUES</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tr *ngFor = "let student of students">
            <td>{{student.id}}</td>
            <td>{{student.rollNo}}</td>
            <td>{{student.name}}</td>
            <td>{{student.dob}}</td>
            <td>{{student.dobTime}}</td>
            <td>{{student.age}}</td>
            <td>{{student.email}}</td>
            <td>
                <span *ngIf = "student.isMale;else no">Male</span>
                <ng-template #no>
                    <span>Female</span>
                </ng-template>
            </td>
            <td>{{student.phoneNumber}}</td>
            <td><button (click) = "onUpdateButtonClick(student.id, studentFormModal)">UPDATE</button></td>
            <td><button (click) = "onBookIssuesButtonClick(student.id, bookIssuesModal)">Book isues</button></td>
            <td><button (click) = "deleteStudent(student.id)">DELETE</button></td>
        </tr>
    </table>
</div>


<ng-template #studentFormModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{addOrUpdateAction | uppercase}} FORM</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">&times;</button>
    </div>

    <div class="modal-body">
        
        <form class="form-horizontal" [formGroup]="studentForm">

            <div class="form-group row">
                <label class="control-label col-sm-2" for="rollNoId">Roll No.</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="rollNoId" formControlName="rollNo"> 
                </div>
                <div class="col-sm-4">
                    <span *ngIf = "studentForm.get('rollNo').invalid && (studentForm.get('rollNo').dirty || studentForm.get('rollNo').touched)" [class] = "'required'">
                        <!--<span *ngIf="studentForm.get('rollNo').errors.required">RollNo is required</span>-->
                        <span *ngIf="studentForm.get('rollNo').errors.min">RollNo cannot be less than zero</span>
                    </span>
                </div>
            </div>
        
            <div class="form-group row">
                <label class="control-label col-sm-2" for="nameId" >Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="nameId" formControlName="name">
                </div>
                <div class="col-sm-4">
                    <span *ngIf = "studentForm.get('name').invalid && (studentForm.get('name').dirty || studentForm.get('name').touched)" [class] = "'required'">
                        <span *ngIf="studentForm.get('name').errors.required">Name is required</span>
                        <span *ngIf="studentForm.get('name').errors.pattern">Name can only contain alphabets</span>
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" for="dobId" >DOB</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" id="dobId" formControlName="dob" (change) = "dobChange()">
                </div>
                <!--<div class="col-sm-4">
                    <span *ngIf = "studentForm.get('dob').invalid && (studentForm.get('dob').dirty || studentForm.get('dob').touched)" [class] = "'required'">DOB is required</span>
                </div>-->
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" for="dobTimeId" >DOB/Time</label>
                <div class="col-sm-6">
                    <input type="datetime-local" class="form-control" id="dobTimeId" formControlName="dobTime">
                </div>
                <!--<div class="col-sm-4">
                    <span *ngIf = "studentForm.get('dobTime').invalid && (studentForm.get('dobTime').dirty || studentForm.get('dobTime').touched)" [class] = "'required'">DOB/Time is required</span>
                </div>-->
            </div>
        
            <div class="form-group row">
                <label class="control-label col-sm-2" for="ageId">Age</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="ageId" formControlName="age">
                </div>
                <div class="col-sm-4">
                    <span *ngIf = "studentForm.get('age').invalid && (studentForm.get('age').dirty || studentForm.get('age').touched)" [class] = "'required'">
                        <!--<span *ngIf="studentForm.get('age').errors.required">Age is required</span>-->
                        <span *ngIf="studentForm.get('age').errors.min">Age cannot be less than zero</span>
                    </span>
                </div>
            </div>
        
            <div class="form-group row">
                <label class="control-label col-sm-2" for="emailId" >Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="emailId" formControlName="email">
                </div>
                <div class="col-sm-4">
                    <span *ngIf = "studentForm.get('email').invalid && (studentForm.get('email').dirty || studentForm.get('email').touched)" [class] = "'required'">
                        <span *ngIf="studentForm.get('email').errors.required">Email is required</span>
                        <span *ngIf="studentForm.get('email').errors.pattern">The email address must contain at least the '@' and the '.' character</span>
                    </span>
                </div>
            </div>
        
            <fieldset class="form-group">
                <div class="row">
                    <label class="control-label col-sm-2" >Gender</label>
                    <div class="col-sm-3" [style.margin-top] = "'5px'" [style.text-align] = "'center'">
                        <span >
                            <label>Male</label>
                            <input type="radio" name="gender" [value] = true formControlName="gender">
                        </span>
                    </div>
                    <div class="col-sm-3" [style.margin-top] = "'5px'" [style.text-align] = "'left'">
                        <span>
                            <label>Female</label>
                            <input type="radio" name="gender" [value] = false formControlName="gender">
                        </span>
                    </div>
                    
                    <!--<div class="col-sm-4">
                        <div *ngIf="addOrUpdateAction == 'add'">
                            <span *ngIf = "studentForm.get('gender').invalid && studentForm.get('gender').dirty" [class] = "'required'">Gender is required</span>
                        </div>
                    </div>-->
                
                </div>
            </fieldset>

            <div class="form-group row">
                <label class="control-label col-sm-2" for="phoneNumberId" >Phone Number</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="phoneNumberId" formControlName="phoneNumber">
                </div>
                <span *ngIf = "studentForm.get('phoneNumber').invalid && (studentForm.get('phoneNumber').dirty || studentForm.get('phoneNumber').touched)" [class] = "'required'">
                    <span *ngIf="studentForm.get('phoneNumber').errors.minlength">Min 10 characters are required</span>
                    <span *ngIf="studentForm.get('phoneNumber').errors.maxlength">Max 12 characters are required</span>
                </span>
            </div>
        
            <div class="form-group">
                <button [disabled]="!studentForm.valid || !studentForm.dirty" id = "submitButtonId" class="btn btn-primary" type="submit" (click) = "validate()">SUBMIT</button>
            </div>
            
            </form>
    </div>
</ng-template>

<ng-template #bookIssuesModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">BOOK ISSUES</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">&times;</button>
    </div>

    <div class="modal-body">
        <h1>Book Issue Table</h1>
        <div style="text-align: left;background-color: purple;color: white;">
            Total penalty  : {{totalPenalty}}
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>BOOK NAME</th>
                    <th>BOOK ID</th>
                    <th>ISSUE DATE</th>
                    <th>RETURNED</th>
                    <th>PENALTY</th>
                </tr>
            </thead>
            <tr *ngFor = "let bookIssue of bookIssues">
                <td>{{bookIssue.id}}</td>
                <td>{{bookIssue.book.name}}</td>
                <td>{{bookIssue.book.id}}</td>
                <td>{{bookIssue.issueDate}}</td>
                <td>
                    <span *ngIf = "!bookIssue.returned;else no">
                        <button (click) = "onReturnedButtonClick(bookIssue)">Return</button>
                    </span>
                    <ng-template #no>
                        <span>Returned</span>
                    </ng-template>
                    
                </td>
                <td>{{bookIssue.penalty}}</td>
            </tr>
        </table>
        <h1>Book Inventory Table</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>BOOK ID</th>
                    <th>BOOK NAME</th>
                    <th>TOTAL STOCK</th>
                    <th>AVAILABLE STOCK</th>
                    <th>ISSUE BOOK</th>
                </tr>
            </thead>
            <tr *ngFor = "let book of booksWithAvailable">
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.totalStock}}</td>
                <td>{{book.available}}</td>
                <td><button (click) = "onIssueBookButtonClick(book)">ISSUE BOOK</button></td>
            </tr>
        </table>
    </div>
</ng-template>